# Installing pyspark

In [ ]:
!pip install pyspark py4j

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.9/dist-packages (0.10.9.7)
Collecting py4j
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 22.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824028 sha256=be32dd0bf88f04470cad3201fdbd1b8a6d3b5117fc8a971d22779e2849a49385
  Stored in directory: /root/.cache/pip/wheels/6c/e3/9b/0525ce8a69478916513509d43693511463c6468db0de237c86
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

# Program to print numbers in a sequence

In [26]:
# from 0 to n in sequence

n = int(input('Enter number'))

for i in range(n+1):
  print(i)

Enter number10
0
1
2
3
4
5
6
7
8
9
10

In [34]:
# from o to n even numbers and odd numbers

n = int(input("Enter any number"))

for i in range(n+1):
  if i%2 == 0:
    print('Even Numbers are:',i)
  else:
    print('odd Numbers are:',i)

Enter any number11
Even Numbers are: 0
odd Numbers are: 1
Even Numbers are: 2
odd Numbers are: 3
Even Numbers are: 4
odd Numbers are: 5
Even Numbers are: 6
odd Numbers are: 7
Even Numbers are: 8
odd Numbers are: 9
Even Numbers are: 10
odd Numbers are: 11

In [ ]:
# from o to n even numbers and odd numbers

n = int(input("Enter any number"))

# program to print the sum of first n numbers?

In [20]:
#for loop

n = int(input('Enter number:'))

sum =0

for i in range(n+1):
  sum = sum+i

print(sum)

Enter number:10
55

In [19]:
# while loop

n = int(input('Enter number:'))

sum =0
i=1
while i <n+1:
  sum= sum+i
  i=i+1
print('Sum value is:',sum)

Enter number:10
Sum value is: 55

# Program to print all numbers in a given range that are divisable by given number

In [25]:

lower = int(input('Enter lower num:'))

upper = int(input('Enter upper num:'))

n = int(input('Divisable num:'))

num = [i for i in range (lower,upper+1) if i % n == 0]

print(num)

Enter lower num:100
Enter upper num:500
Divisable num:5
[100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500]

#  Program to print longest string in given sentence with its length?

In [38]:
se = input('Enter sentance:')

words = se.split()

long_word_length = len(words[0])

for i in words:
  words_length = len(i)
  if word_length>long_word_length:
    long_word_length = words_length
    word =i

print('word is:',word)
print('word length is :',long_word_length)

Enter sentance:hello sandeep how are you
word is: sandeep
word length is : 5

# program to print total number of digits in given positive interger

In [39]:

n = int(input('Enter value:'))

total = 0

while n>0:
  n = n//10
  total = total+1

print('total number of digits',total)

Enter value:123456789
total number of digits 9